.tagline-center {
    color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tagline-center h2 {
    font-size: 4.9rem;
    letter-spacing: .2rem;
    text-align: center;
    text-shadow: 0 2px 7px black;
    font-weight: 900;
    font-family: Geomanist;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 30rem) {
    .tagline-center h2 {
        font-size: 3rem;
    }
}