.left-title{
    width: 27.5rem;
    margin-left: 8vw ;
}
.left-title h2 {
    color: white;
    font-size: 3.9rem;
    text-align: left;
    width: 100%;
    margin: 0;
    font-weight: bolder;
    font-family: Geomanist;
    letter-spacing: .2rem;
}

@media screen and (max-width: 30rem) {
    .left-title{
        margin: 6rem 1rem 3rem 1rem;
        padding: 0;
        width: auto;
        align-self: flex-start;
    }
    .left-title h2 {
        font-size: 3rem;
        text-align: left;
    }
}
@media screen and (max-height: 30rem) {
    .left-title{
        margin: 6rem 0 3rem 8vw;
        padding: 0;
        width: auto;
        align-self: flex-start;
    }
}

