.right-title h2 {
    color: white;
    font-size: 2rem;
    text-align: right;
    /* margin: 0 3rem; */
    margin-top: 15rem;
    margin-right: -7rem;
    margin-left: 20rem;
    margin-bottom: -1rem;
    /* border-bottom: .2rem solid white; */
}