.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    z-index: 2000;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all .5s ease-in-out;
}
.preloader.close {
    opacity: 0;
    transition: all .5s ease-in-out;
    z-index: -10;
}

.preloader .preloader-loading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.preloader .loading {
    width: auto;
    overflow: hidden;
}

.preloader .loading img {
    width: 10rem;
    height: auto;
    animation: load8 3s infinite alternate;
}


@keyframes load8 {
    0% {
    filter: grayscale(100) blur(0) contrast(0) opacity(0.5)  ;
    }
    100% {
    filter: grayscale(0) blur(10) contrast(100) opacity(1) ;
    }
}


.preloader .loading-text {
    color: #ffffff;
    margin-top: 5vh;
    font-size: 2rem;
    font-family: "Futura";
    text-transform: uppercase;
    font-weight: 100;
    opacity: .75;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 27.5%;
}

.preloader .loading-text::before {
    content: '';
    top: -1rem;
    width: 90%;
    height: .3rem;
    border-radius: .25rem;
    border: .3rem double rgba(255, 255, 255, 0.781);
    left: 3%;
    position: absolute;
}
.preloader .loading-text::after {
    content: '';
    top: -1rem;
    width: 1%;
    height: .3rem;
    transform: translate(.3rem, .3rem);
    left: 3%;
    position: absolute;
    background: chocolate;
    animation: barprogress 3s infinite forwards alternate ;
}

@keyframes barprogress {
    0% {
    width: 5%;
    }
    100% {
    width: 89%;
    }
}


.preloader .loading-text .loading-text-color1 {
    color: rgb(78, 78, 78);
    font-family: "Geomanist";
    margin: .5rem;

}
.preloader .loading-text .loading-text-color2 {
    color: grey;
    font-family: "Geomanist";
    font-style: italic;
    margin-right: .5rem;
}
.preloader .loading-text .loading-text-color3 {
    color: chocolate;
    font-weight: 900;
    -webkit-text-stroke: .1px rgba(255, 255, 255, 0.329);
    margin: .5rem;
}
@media screen and (max-width: 30rem) {
    .preloader .loading img {
        width: 8rem;
    }
    .preloader .loading-text {
        font-size: 1.4rem;
        bottom: 12.5%;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .preloader .loading-text::after {
        height: .275rem;
        top: -1.05rem;
    }
}

@media screen and (max-height: 30rem) {
    .preloader .loading img {
        width: 9rem;
    }
    .preloader .loading-text {
        font-size: 2rem;
        bottom: 15%;
        flex-wrap: wrap;
        flex-direction: row;
    }
}